{% extends 'base.html.twig' %}

{% block title %}Twoje konto !{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h2>Zaktualizuj swoje dane</h2>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary" href="{{ path('post_index') }}">Zmień swoje Dane</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
