{% extends 'base.html.twig' %}

{% block title %}Formualarz logowania !{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        <h1>Login Panel! ✅</h1>
        {{ form_start(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}

        <button type="submit" class="btn btn-primary m-1">Zaloguj się</button>
        {{ form_end(form) }}
        <a class="btn btn-info m-1" href="{{ path('resetPassword') }}">Zapomniałem hasła</a>
        <input type="hidden" name="post_index" value="{{ path('post_index') }}"/>

        <input type="hidden" name="back_to" value="{{ path('post_index') }}"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <a class="facebook m-1" href="https://technology-work.com/connect/facebook">facebook</a>
    </div>
{% endblock %}
