{% extends 'base.html.twig' %}

{% block title %}Twój profil !{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <h1>Twoje dane! ✅</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nick użytkownika</th>
                <th>Email:</th>
                <th>Kiedy dołaczył</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ app.user.username }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.createdAt? app.user.createdAt|date : '' }} </td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
