{% extends 'base.html.twig' %}

{% block title %}Zarejestruj się !{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Panel rejestracji! ✅</h1>
        <ul id="errorsInput" class="list-group list-group-flush"></ul>
        {{ form_start(form, {'attr' : {'id' : 'register_user', 'action': "javascript:void(0);"}}) }}
        {{ form_widget(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-success m-1">Zarejestruj się</button>
        <a class="facebook m-1" href="https://technology-work.com/connect/facebook">facebook</a>
        {{ form_end(form) }}
    </div>
    <script src="{{ asset('build/registerUser.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.json') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
{% endblock %}
