{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-content-wrapper">
        <h1 class="p-2">Moje oferty
        </h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nr.</th>
                <th>Tytuł</th>
                <th>Kategorie</th>
                <th>Dodano</th>
                <th>Modyfikuj</th>
            </tr>
            </thead>
            <tbody>
            {% set id = 1 %}
            {% for post in posts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ post.title }}</td>
                    <td>{% for item in post.category %}
                            {{ item.name }}
                            {{ loop.last ? '' : ',' }}
                        {% endfor %}
                    </td>
                    <td>{{ post.createdAt?  post.createdAt|date : '' }}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ path('post_show', {'id': post.id}) }}">Szczegóły</a>
                        <a class="btn btn-outline-success" href="{{ path('post_edit', {'id': post.id}) }}">Zmień</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nie ma ofert pracy</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-primary" href="{{ path('post_new') }}">Stwórz ofertę</a>
    </div>
{% endblock %}
