{% extends 'base.html.twig' %}

{% block title %}Edycja Kategorii{% endblock %}

{% block body %}
    <h1>Formularz edycji kategorii</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Zaktualizuj kategorię'}) }}

    <a class="btn-info" href="{{ path('category_index') }}">Wróć do listy kateogrii</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
