{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <h1>Kategorie</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nr. Kategorii</th>
            <th>Nazwa</th>
            <th>Modyfikacja</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-outline-info"
                       href="{{ path('category_show', {'id': category.id}) }}">Szczegóły</a>
                    <a class="btn btn-outline-success" href="{{ path('category_edit', {'id': category.id}) }}">Zmień</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nie ma kategorii dla ofert pracy</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('category_new') }}">Nowa kategoria</a>
{% endblock %}
