{% extends 'base.html.twig' %}

{% block title %}Kateogria{% endblock %}

{% block body %}
    <h1>Kateogria nr. {{ category.id }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nazwa</th>
            <td>{{ category.name }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn-info" href="{{ path('category_index') }}">Wróc do listy kateogrii</a>

    <a class="btn-success" href="{{ path('category_edit', {'id': category.id}) }}">Zaktualizuj kategorię</a>

    {{ include('category/_delete_form.html.twig') }}

{% endblock %}
