{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h2>{{ messageContact['title'] }}</h2>
        <h4>{{ messageContact['full_name'] }}</h4>
        <h4>{{ messageContact['email'] }}</h4>
        <p>{{ messageContact['body'] }}</p>
    </div>
{% endblock %}
