{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 65%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="container-fluid">
        <h1 class="text-center">Formularz zgłoszeń i propozycji biznesowych ✅</h1>
        <h3 class="text-center">Wszelkie problemy i oferty prosze kierować poprzez ten formularz</h3>
    </div>
    <div class="example-wrapper">
        {{ form_start(form, {'attr' : {'id' : 'form_contact_message'}}) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Wyślij zapytanie') }}</button>
        {{ form_end(form) }}
    </div>
    <script src="{{ asset('build/contactForm.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.json') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
