<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}Oferty Pracy dla początkujących informatyków wielo - branżowych!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    <link href="{{ asset('build/multiselect.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
    <link href="{{ asset('build/toastr.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet"></script>

    <!-- Esri Leaflet Geocoder -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>
    {#<script type="text/javascript">#}
    {#google_ad_client = "ca-pub-8655688978794965";#}
    {#google_ad_slot = "1200391750";#}
    {#google_ad_width = 970;#}
    {#google_ad_height = 250;#}
    {#</script>#}
    {#<!-- Reklama -->#}
    {#<script type="text/javascript"#}
    {#src="//pagead2.googlesyndication.com/pagead/show_ads.js">#}
    {#</script>#}

    {% block stylesheets %}{% endblock %}
</head>
<body class='use-all-space'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('post_index') }}">Oferty pracy</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('contact') }}" class="nav-link text-light">Kontakt</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if not app.user %}
            <li class="nav-item active">
                <a href="{{ path('register') }}" class="nav-link m-1">Rejestracja <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-1" href="{{ path('login') }}">Logowanie</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link m-1" href="{{ path('homeProfile') }}">Moje oferty</a>
            </li>

            {% if(is_granted('ROLE_ADMIN')) %}
                <li class="nav-item">
                    <a class="nav-link m-1" href="{{ path('easyadmin') }}">Panel Admina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-1" href="{{ path('category_index') }}">Kategorie</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown m-1">
                    {% if countAllApplicationsNotifyByUser is defined %}
                        <div class="btn-group">
                            <button class="btn badge-info" type="button" style="display: flex;align-items: center;">
                                <div id="icon_notify"></div>
                                <span class="badge badge-light">{{ countAllApplicationsNotifyByUser }}</span>
                                <span class="caret"></span>
                            </button>
                            <button type="button" class="btn btn-sm badge-info dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group">
                                    {% for notify in findAllApplicationsNotifyByUser %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    {{ notify.name }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <form action="{{ path('notification_list', {'id': notify.id}) }}"
                                                          name="notification" class="class_form_notify adge badge-pill"
                                                          id="notification_selector_{{ notify.id }}" data-post-id="{{ notify.id }}"
                                                          method="post" >
                                                        <input type="checkbox" id="notification_redOffer" class="checkRead"
                                                               name="notification[redOffer]" value="true">
                                                    </form>
                                                </div>
                                            </div>
                                        </li>

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-success" href="{{ path('profile') }}">Moje dane</a>
                            <a class="dropdown-item text-success" href="{{ path('account') }}">Moje konto</a>
                            <a class="dropdown-item text-green">Rank: {{ app.user.roles.roles }}</a>
                            <a class="dropdown-item text-danger" href="{{ path('logout') }}">Wyloguj się</a>

                        </div>
                    </div>
                </div>
            </li>

            {% endif %}
            <li class="nav-item"><a href="https://tipanddonation.com/Technology_Work_PL" class="btn btn-danger m-1">Wesprzyj
                    najlepszą witrynę która daje ci pracę</a></li>
        </ul>
    </div>

</nav>
<div class="container-fluid">
    {% block body %}{% endblock %}
    {% block register %}{% endblock %}
</div>
<footer>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/multiselect.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.json') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>$('.mutli-select').multiSelect()</script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</footer>
</body>
</html>
