{% if(is_granted('edit', post.user)) %}
    {% if app.user == post.user and is_granted('view', post.user) %}
        <form method="post" action="{{ path('post_delete', {'id': post.id}) }}"
              onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
            <button class="btn btn-danger m-1">Usuń</button>
        </form>
    {% endif %}
{% endif %}