{{ form_start(form, {'attr' : {'id' : 'form_selector'}}) }}
{{ form_row(form.title) }}
{{ form_row(form.nameSpecializations) }}
{{ form_row(form.companyName) }}
{{ form_row(form.country) }}
{{ form_row(form.city) }}
{{ form_row(form.address) }}
{{ form_row(form.numberBuild) }}
{{ form_row(form.numberHome) }}
{{ form_row(form.postCode) }}
{{ form_row(form.body) }}
{{ form_row(form.category) }}
{{ form_row(form.priceOffer) }}
{{ form_row(form.currency) }}
{{ form_row(form.contactPhone) }}
{{ form_row(form.contactEmail) }}
<button class="btn  m-1" id="{{ button_id|default('add_post') }}">{{ button_label|default('Dodaj') }}</button>
{{ form_end(form) }}
