{% extends 'base.html.twig' %}

{% block title %}Zmień dane swojego postu{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <h1>Stwórz ofertę pracy</h1>
            <ul id="errorsInput"></ul>
            <h1 id="editPost" data-post-id="{{ post.id }}">Edycja oferty pracy</h1>

            {{ include('post/_form.html.twig', {'button_label': 'Zaktualizuj zmiany'}) }}

            <a href="{{ path('post_index') }}" class="btn btn-info m-1">Wróć do ofert</a>

            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
    <script src="{{ asset('build/updatePost.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.json') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
