{% extends 'base.html.twig' %}

{% block title %}Oferty pracy dla młodych programistów{% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h3 class="p-3 text-white">
                        Kategorie
                    </h3>
                </li>
                {% for categories in category %}
                    <li>
                        <a href="{{ path('post_category_index', {'id': categories.id}) }}">{{ categories.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <ul id="page-content-wrapper">
            <h1 class="p-2">Oferty praktyk/Stażu</h1>
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
            {{ form_end(form) }}

            {% if postsCategory is defined %}
                <h3>{{ postsCategoryName.name }}</h3>
            {% else %}
            {% endif %}
            <a href="#menu-toggle" class="btn btn-dark m-1" id="menu-toggle">Lista Kategorii</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Tytuł</th>
                    {% if postsCategory is defined %}
                    {% else %}
                        <th>Kategorie</th>
                    {% endif %}
                    <th>Kraj</th>
                    <th>Miasto</th>
                    <th>Stawki</th>
                    <th>Dodano</th>
                    <th>Modyfikuj</th>
                </tr>
                </thead>
                <tbody>
                {% if  postsCategoryName is defined %}
                    {% if postsCategory is defined %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {{ knp_pagination_render(postsCategory) }}
                            </ul>
                        </nav>
                        {% for post in postsCategory %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ post.title }}</td>
                                <td>{{ post.country.name }}</td>
                                <td>{{ post.city }}</td>
                                <td>{{ post.priceOffer }} {{ post.currency }}</td>
                                <td>{{ post.createdAt?  post.createdAt|date('\l \o F jS') : '' }}</td>
                                <td>
                                    <a class="btn btn-outline-info" href="{{ path('post_show', {'id': post.id}) }}">Szczegóły</a>
                                    {% if app.user == post.user %}
                                        <a class="btn btn-outline-success"
                                           href="{{ path('post_edit', {'id': post.id}) }}">Zmień</a>
                                    {% endif %}

                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="6">Nie ma ofert pracy</td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td colspan="6">Nie ma ofert pracy</td>
                        </tr>
                    {% endif %}
                {% else %}
                    {% for post in posts %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <div class="titlePost">{{ post.title }}</div>
                            </td>
                            <td>{% for item in post.category %}
                                    {{ item.name }}
                                    {{ loop.last ? '' : ',' }}
                                {% endfor %}</td>
                            <td>{{ post.country.name }}</td>
                            <td>{{ post.city }}</td>
                            <td>{{ post.priceOffer }} {{ post.currency }}</td>
                            <td>{{ post.createdAt ? post.createdAt|date('\l \o F jS') : '' }}</td>
                            <td>
                                <a class="btn btn-outline-info"
                                   href="{{ path('post_show', {'id': post.id}) }}">Szczegóły</a>
                                {% if app.user == post.user %}
                                    {% if(is_granted('edit', app.user)) %}
                                        <a class="btn btn-outline-success"
                                           href="{{ path('post_edit', {'id': post.id}) }}">Zmień</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Nie ma ofert pracy</td>
                        </tr>
                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{ knp_pagination_render(posts) }}
                        </ul>
                    </nav>
                {% endif %}
                </tbody>

            </table>
            {% if not app.user %}
            {% else %}
                <a class="btn btn-outline-primary" href="{{ path('post_new') }}">Stwórz ofertę</a>
            {% endif %}
        </ul>
    </div>
    </div>


{% endblock %}
