{% extends 'base.html.twig' %}

{% block title %}Nowa oferta pracy{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <h1>Stwórz ofertę pracy</h1>
            <ul id="errorsInput"></ul>
            {{ include('post/_form.html.twig') }}
            <a class="btn btn-success m-1" href="{{ path('post_index') }}">Wróć do ofert</a>
        </div>
    </div>
    {{ include('post/_delete_form.html.twig') }}
    <script src="{{ asset('build/createPost.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.json') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
