{% extends 'base.html.twig' %}

{% block title %}Szczegóły oferty pracy{% endblock %}

{% block body %}
    <h1 class="text-center">Szczegóły oferty pracy</h1>
    <h1 id="postId" class="text-center" data-post-id="{{ post.id }}">{{ post.title }}</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td><a class="btn btn-outline-success" href="{{ path('post_index') }}">Powróć do ofert</a></td>
                </tr>
                <tr>
                    <th>Tytuł oferty</th>
                    <td>{{ post.title }}</td>
                </tr>
                <tr>
                    <th>Nazwa Firmy</th>
                    <td>{{ post.companyName }}</td>
                </tr>
                <tr>
                    <th>Technologie które musisz znać</th>
                    <td>{{ post.nameSpecializations }}</td>
                </tr>
                <tr>
                    <th>Kraj</th>
                    <td>{{ post.country.name }}</td>
                </tr>
                <tr>
                    <th>Miasto</th>
                    <td id="city_1">{{ post.city }}</td>
                </tr>
                <tr>
                    <th>Adres naszej firmy</th>
                    <td id="address">{{ post.address }}, {{ post.numberBuild }}</td>
                </tr>
                {% if  post.numberHome is defined %}
                <tr>
                    <th>Numer mieszkania lub apartamentu</th>
                    <td id="numberHome">{{ post.numberHome }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Kod pocztowy firmy</th>
                    <td id="postCode">{{ post.postCode }}</td>
                </tr>
                <tr>
                    <th>Opis</th>
                    <td>{{ post.body }}</td>
                </tr>
                <tr>
                    <th>Tyle możemy ci zapłacić</th>
                    <td>{{ post.priceOffer }} :{{ post.currency }}</td>
                </tr>
                <tr>
                    <th>Telefon kontaktowy</th>
                    <td>{{ post.contactPhone }}</td>
                </tr>
                <tr>
                    <th>Data utworzenia</th>
                    <td>{{ post.createdAt ? post.createdAt|date('\l \o F jS') : '' }}</td>
                </tr>
                <tr>
                    <th>Data modyfikacji</th>
                    <td>{{ post.updatedAt ? post.updatedAt|date('\l \o F jS') : '' }}</td>
                </tr>
                {% if(is_granted('edit', post.user)) %}
                    {% if app.user == post.user and is_granted('view', post.user) %}
                        <tr>
                            <th>Modyfikacja</th>
                            <td>
                                <div class="btn-group form-inline">
                                    <a class="btn btn-outline-info m-2" href="{{ path('post_edit', {'id': post.id}) }}">Edytuj
                                        ofertę</a>
                                    {{ include('post/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <td>
                        {{ form_start(form, {'attr' : {'id' : 'form_application_client', 'enctype': 'multipart/form-data'}}) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-dark">{{ button_label|default('Aplikuj') }}</button>
                        {{ form_end(form) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div id='map' class='use-all-space'></div>
        </div>
        <div class="facebook" style="color: white !important; font-weight: 600;"
             data-href="https://technology-work.com/post/info/{{ post.id }}" data-layout="button_count"
             data-size="large" data-mobile-iframe="true"><a target="_blank"
                                                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftechnology-work.com%2Fpost%2Finfo%2F{{ post.id }}&amp;src=sdkpreparse"
                                                            class="fb-xfbml-parse-ignore" style="color: white;">Udostępnij</a>
        </div>
        <div id="fb-root"></div>

    </div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.2&appId=1087416024762588&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <br><br>
    <script src="{{ asset('build/location.js') }}"></script>
    <script src="{{ asset('build/createApplicationOfThisPost.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.json') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{% endblock %}
